button {
  border: none;
  background: none;
  background-color: rgb(83, 32, 105);
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
}

button:hover {
  background-color: rgb(112, 61, 134);
  cursor: pointer;
}

button.default-button {
  padding: 6px 8px;
  background-color: transparent;
  border: 1px solid rgb(83, 32, 105);
  color: rgb(83, 32, 105);
}

button.default-button:hover {
  background-color: rgb(112, 61, 134);
  color: white;
  cursor: pointer;
}
